<div class="left_main">
                    <!--=================================================Tóm tắt=================================================-->
                    	<div class="item_left_main">
                        	<div class="info_data">
                            	<div class="item_info_data">
                                	<span>1</span> 
                                    <a href="#">Đơn hàng</a>
                                </div>
                            	<div class="item_info_data">
                                	<span>1000</span>
                                    <a href="#">Sản phẩm</a>
                                </div>
                            	<div class="item_info_data">
                                	<span>12</span>
                                    <a href="#">Danh mục chính</a>
                                </div>
                            	<div class="item_info_data">
                                	<span>100</span>
                                    <a href="#">Danh mục con</a>
                                </div>
                            	<div class="item_info_data">
                                	<span>120</span>
                                    <a href="#">Tin tức</a>
                                </div>
                            </div><!--#END info_data-->
                            <div class="statistics">
                            	<div class="item_statistics">
                                	<a href="#">Thống kê bán hàng</a>
                                </div>
                            	<div class="item_statistics">
                                	<a href="#">Thống kê bán hàng</a>
                                </div>
                            </div><!--#END statistics-->
                            <div class="content_statistics">
                            	<div class="title_content_statistics">
                                	<div class="img_title_content_statistics">
                                    	<img src="../images/new_order_icon.png" />
                                    </div>
                                	<div class="text_title_content_statistics">
                                    	Đơn đặt hàng mới:
                                    </div>
                                	<div class="info_title_content_statistics">
                                    	2
                                    </div>
                                	<div class="link_title_content_statistics">
                                    	<a href="#">(Xem toàn bộ)</a>
                                    </div>
                                </div><!--#END title_content_statistics-->
                                <div class="content_content_statistics">
                                	<ul>
                                    	<li>
                                        	<a href="#">Tinh Phong - tinhphong007@gmail.com</a>
                                            <span class="info_content_content_statistics">(Ngày liên hệ: 28/03/2012 4:53:05 CH)</span>
                                        </li>
                                    	<li>
                                        	<a href="#">No Name - noname@yahoo.com</a>
                                            <span class="info_content_content_statistics">(Ngày liên hệ: 29/03/2012 14:53:05 CH)</span>
                                        </li>
                                    </ul>
                                </div><!--#END content_content_statistics-->
                            	<div class="title_content_statistics">
                                	<div class="img_title_content_statistics">
                                    	<img src="../images/new_contact_icon.png" />
                                    </div>
                                	<div class="text_title_content_statistics">
                                    	Liên hệ mới:
                                    </div>
                                	<div class="info_title_content_statistics">
                                    	Không có đơn đặt hàng mới
                                    </div>
                                	<div class="link_title_content_statistics">
                                    	<a href="#">(Xem toàn bộ)</a>
                                    </div>
                                </div><!--#END title_content_statistics-->
                            </div><!--#END content_statistics-->
                        </div><!--#END item_left_main-->
                    	<div class="item_left_main_other">
                            <div class="item_quick_access">
                                <a href="#">
                                    <img src="../images/add_news_icon.png" />
                                    <span>Add New Article</span>
                                </a>
                            </div>
                            <div class="item_quick_access">
                                <a href="#">
                                    <img src="../images/add_news_icon.png" />
                                    <span>Add New Article</span>
                                </a>
                            </div>
                            <div class="item_quick_access">
                                <a href="#">
                                    <img src="../images/add_news_icon.png" />
                                    <span>Add New Article</span>
                                </a>
                            </div>
                            <div class="item_quick_access">
                                <a href="#">
                                    <img src="../images/add_news_icon.png" />
                                    <span>Add New Article</span>
                                </a>
                            </div>
                            <div class="item_quick_access">
                                <a href="#">
                                    <img src="../images/add_news_icon.png" />
                                    <span>Add New Article</span>
                                </a>
                            </div>
                            <div class="item_quick_access">
                                <a href="#">
                                    <img src="../images/add_news_icon.png" />
                                    <span>Add New Article</span>
                                </a>
                            </div>
                            <div class="item_quick_access">
                                <a href="#">
                                    <img src="../images/add_news_icon.png" />
                                    <span>Add New Article</span>
                                </a>
                            </div>
                            <div class="item_quick_access">
                                <a href="#">
                                    <img src="../images/add_news_icon.png" />
                                    <span>Add New Article</span>
                                </a>
                            </div>
                            <div class="item_quick_access">
                                <a href="#">
                                    <img src="../images/add_news_icon.png" />
                                    <span>Add New Article</span>
                                </a>
                            </div>
                            <div class="item_quick_access">
                                <a href="#">
                                    <img src="../images/add_news_icon.png" />
                                    <span>Add New Article</span>
                                </a>
                            </div>
                            <div class="item_quick_access">
                                <a href="#">
                                    <img src="../images/add_news_icon.png" />
                                    <span>Add New Article</span>
                                </a>
                            </div>
                            <div class="item_quick_access">
                                <a href="#">
                                    <img src="../images/add_news_icon.png" />
                                    <span>Add New Article</span>
                                </a>
                            </div>
                        </div><!--#END item_left_main-->
                    </div><!--#END left_main-->
                    <div class="right_main">
                    	<div class="item_right_main">
                        	<div class="title_item_right_main">
                            	Video hướng dẫn nhanh
                            </div>
                        	<div class="content_item_right_main">
                            	<div class="item_content_item_right">
                                	<a href="#">Thêm mới danh mục sản phẩm</a>
                                </div>
                            	<div class="item_content_item_right">
                                	<a href="#">Thêm mới, chỉnh sửa, xóa sản phẩm</a>
                                </div>
                            	<div class="item_content_item_right">
                                	<a href="#">Thêm mới, chỉnh sửa, xóa tin tức</a>
                                </div>
                            	<div class="item_content_item_right">
                                	<a href="#">Thêm mới, chỉnh sửa, xóa tin tức</a>
                                </div>
                            </div>
                        </div><!--#END item_right_main--><div class="item_right_main">
                        	<div class="title_item_right_main">
                            	Video hướng dẫn nhanh
                            </div>
                        	<div class="content_item_right_main">
                            	<div class="item_content_item_right">
                                	<a href="#">Thêm mới danh mục sản phẩm</a>
                                </div>
                            	<div class="item_content_item_right">
                                	<a href="#">Thêm mới, chỉnh sửa, xóa sản phẩm</a>
                                </div>
                            	<div class="item_content_item_right">
                                	<a href="#">Thêm mới, chỉnh sửa, xóa tin tức</a>
                                </div>
                            	<div class="item_content_item_right">
                                	<a href="#">Thêm mới, chỉnh sửa, xóa tin tức</a>
                                </div>
                            </div>
                        </div><!--#END item_right_main-->
                    </div><!--#END right_main-->