@using eProjectsSemIII.Models;
<ul>
    @foreach (Kinds item in ViewBag.kind)
    {   
        <li>
            @Html.ActionLink(item.Name, "kind", "design", new { id = item.Alias }, null)		
        </li>                
    }
</ul>