<div class="path_menu">
	<div class="path_menu_item">
    	<a href="">Home Page</a>
    </div>
	<div class="path_menu_item">
    	<a href="">Menus</a>
    </div>
	<div class="path_menu_item">
    	<a href="">List systems menus</a>
    </div>
</div>

<div class="path_menu title_and_action">
	<div class="content_title">
    	List systems menus
    </div>
    <div class="content_action">
    	<div class="item_content_action">
            <a href="#">
            	<div class="img_item_content_action" id="help_action">
                
                </div>
            	<div class="text_item_content_action">
                	Help
                </div>
            </a>
        </div>
    	<div class="item_content_action">
            <a href="#">
            	<div class="img_item_content_action" id="go_back_action">
                
                </div>
            	<div class="text_item_content_action">
                	Go back
                </div>
            </a>
        </div><div class="item_content_action">
            <a href="#">
            	<div class="img_item_content_action" id="add_action">
                
                </div>
            	<div class="text_item_content_action">
                	Add
                </div>
            </a>
        </div>
    </div><!--#END content_action-->
</div><!--#END path_menu title_and_action-->
<!--===================================CHO DANH CHO VIEC SHOW FORM=================================================-->

<div class="path_menu">
    <div class="list_item">
        <table>
            <tr class="form_categories_title">
                <td>STT</td>
                <td>Tên menu</td>
                <td>Url Menu</td>
                <td>Mô tả menu</td>
                <td>Hiển thị</td>
                <td>Trạng thái đối với gian hàng</td>
                <td>Sửa</td>
                <td>Xóa</td>
            </tr>
        
            <tr>
                <td colspan="7"></td>
            </tr>
        </table>
    </div>
</div>
<!--================================#END CHO DANH CHO VIEC SHOW FORM===============================================-->

<div class="path_menu title_and_action">
	<div class="content_title">
    	List systems menus
    </div>
    <div class="content_action">
    	<div class="item_content_action">
            <a href="#">
            	<div class="img_item_content_action" id="help_action1">
                
                </div>
            	<div class="text_item_content_action">
                	Help
                </div>
            </a>
        </div>
    	<div class="item_content_action">
            <a href="#">
            	<div class="img_item_content_action" id="go_back_action1">
                
                </div>
            	<div class="text_item_content_action">
                	Go back
                </div>
            </a>
        </div>
    	<div class="item_content_action">
            <a href="#">
            	<div class="img_item_content_action" id="add_action1">
                
                </div>
            	<div class="text_item_content_action">
                	Add
                </div>
            </a>
        </div>
    </div><!--#END content_action-->
</div><!--#END path_menu title_and_action-->
