<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="styles/style.css" />
<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
<title>Fine Art</title>
<!--[if IE 6]>
<style>
    .bt-search{padding:8px 60px 9px 50px;}
    .content-right-content ul{margin-bottom:14px}
    .content-right-content ul li{padding:5px 0}
    .flickr-group{float:left;width:290px}
    .bt-login{padding:3px 7px}
	.student-item img{width:199px;padding:6px;border:1px solid #e7e7e7}
</style>
<![endif]-->
<!--[if IE 7]>
<style>
	.student-item img{width:199px;padding:6px;border:1px solid #e7e7e7}
</style>
<![endif]-->
<!--[if IE 8]>
<style>
	.student-item img{width:199px;padding:6px;border:1px solid #e7e7e7}
</style>
<![endif]-->
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <div class="header">
        <div class="navigation">
        	<div class="wrap-item">
            	<ul>
                    <li style="background:none"><a href="#">Home</a></li>
                    <li><a href="#">Competitions</a></li>
                    <li><a href="#">New Articles</a></li>
                    <li><a href="#">Specials</a></li>
                    <li><a href="#">Articles All</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">FAQs</a></li>
                </ul>
            </div>
        </div><!--#END navigation-->
        <div class="logo">
        	<div class="wrap-item">
                <div class="logo-image">
                    <img src="images/logo.jpg" />
                </div>
                <div class="lang-form">
                	<div class="lang-form-link">
                    	<a href="#">Sign Up</a><span>|</span><a href="#">Login</a>
                    </div>
                    <div class="lang-form-choose">
                    	<div class="lang-form-choose-title">
                        	Language:
                        </div>
                        <div class="lang-form-choose-input">
                        	<select name="language">
                            	<option value="0">English</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--#END logo-->
        <div class="animation">
        	<div class="wrap-item">
            	<div class="animation-content">
                	<img src="images/animation.jpg" />
                </div>
            </div>
        </div><!--#END animation-->
    </div><!--#END header-->
    <div class="main">
    	<div class="wrap-item">
        	<div class="content">
            	<div class="content-top">
                	<form action="#">
                    	<input type="text" name="txt_search" class="txt-search" placeholder="Find the perfect art..." />
                        <input type="submit" name="sub_search" class="bt-search" value="Search" />
                    </form>
                </div>
                <!--##########################################CONTENT RIGHT##############################################-->
            	<div class="content-right">
                	<div class="content-right-title">
                    	List of menu
                    </div>
                    <div class="content-right-content">
                    	<ul>
                        	<li><a href="#">Home</a></li>
                            <li><a href="#">Competitions</a></li>
                            <li><a href="#">New Articles</a></li>
                            <li><a href="#">Specials</a></li>
                            <li><a href="#">Articles All</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">FAQs</a></li>
                        </ul>
                    </div>
                	<div class="content-right-title">
                    	Login Form
                    </div>
                    <form action="#" method="post">
                        <div class="login-form">
                            <div class="login-form-title">
                                Username:
                            </div>
                            <div class="login-form-input">
                                <input type="text" name="username" class="txt-login"  />
                            </div>
                            <div class="login-form-title">
                                Password:
                            </div>
                            <div class="login-form-input">
                                <input type="password" name="password" class="txt-login"  />
                            </div>
                            <div class="login-form-title">
                                <a href="#">Forget your password?</a>
                            </div>
                            <div class="login-form-title">
                                <a href="#">Register an account?</a>
                            </div>
                            <div class="login-form-input">
                                <input type="submit" name="submit" class="bt-login" value="Login" />
                            </div>
                        </div>
                    </form>
                    <div class="advertise">
                    	<img src="images/advertise.jpg" />
                    </div>
                    <div class="empty-right">
                    
                    </div>
                    <div class="advertise">
                    	<img src="images/advertise.jpg" />
                    </div>
                    <div class="special">
                    	<div class="special-title">
                        	SPECIAL
                        </div>
                        <div class="special-content">
                        	<img src="images/articles/article-1.jpg" />
                        </div>
                        <div class="special-note">
                        	Bolt Barbers
                        </div>
                    </div>
                </div><!--#END content-right-->
                <!--######################################CONTENT LEFT#####################################-->
            	<div class="content-left">
                    <!--------------------THE UPCOMING COMPETITIONS--------------------->
                	<div class="content-left-title">
                    	THE UPCOMING COMPETITIONS
                    </div>
                    <div class="content-left-content">
                    	<div class="content-left-content-item">
                        	<div class="item-image">
                            	<img src="images/competitions/competition-1.jpg" />
                            </div>
                            <div class="item-detail">
                            	<div class="item-detail-note">
                                	Graphic Design / November 9, 2012 (deadline)
                                </div>
                            	<div class="item-detail-title">
                                	Gentletude Design Award 2012
                                </div>
                            	<div class="item-detail-content">
                                	The Gentletude Design Award is an international award for typhographic design students. The Award is run by the NGO Gentletude, a not-for-profit organization founded by Cristina Milani. The award aims is to encourage.Pink Lady Food Photographer of the Year is inspired by the proliferation of wonderful food photography in a huge variety of applications...
                                </div>
                            	<div class="item-detail-date">
                                    Start date: 12/12/2012 - 20/01/2013
                                </div>
                                <div class="item-detail-link">
                                	<a href="#">View detail...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--------------------ONGOING COMPETITIONS--------------------->
                	<div class="content-left-title">
                    	ONGOING COMPETITIONS
                    </div>
                    <div class="content-left-content">
                    	<div class="content-left-content-item">
                        	<div class="item-image">
                            	<img src="images/competitions/competition-2.jpg" />
                            </div>
                            <div class="item-detail">
                            	<div class="item-detail-note">
                                	Graphic Design / November 9, 2012 (deadline)
                                </div>
                            	<div class="item-detail-title">
                                	IACE International Awards
                                </div>
                            	<div class="item-detail-content">
                                	The International Awards for Creative Excellence (IACE) is a high-profile design award scheme, recogniz the outstanding work creatives all over the world do for their clients, establishing image and identity, promoting.The Gentletude Design Award is an international award for typhographic design students.The Award is run by the NGO Gentletude, a not-for-profit organization founded by Cristina Milani...
                                </div>
                            	<div class="item-detail-date">
                                    Start date: 12/12/2012 - 20/01/2013
                                </div>
                                <div class="item-detail-link">
                                	<a href="#">View detail...</a>
                                </div>
                            </div>
                        </div>
                        <div class="content-left-content-item">
                        	<div class="item-image">
                            	<img src="images/competitions/competition-3.jpg" />
                            </div>
                            <div class="item-detail">
                            	<div class="item-detail-note">
                                	Graphic Design / November 9, 2012 (deadline)
                                </div>
                            	<div class="item-detail-title">
                                	International Tourism Cartoon Competition
                                </div>
                            	<div class="item-detail-content">
                                	The objective of this competition, which was first held in 2009, is to examine tourism, which is one of the biggest sectors in the world, with its various dimensions. Also, the competition aims to put forward cartoonists'.New Greenham Arts is based on the de-commissioned American nuclear air base at Greenham Common.The Award is run by the NGO Gentletude, a not-for-profit organization founded by Cristina Milani...
                                </div>
                            	<div class="item-detail-date">
                                    Start date: 12/12/2012 - 20/01/2013
                                </div>
                                <div class="item-detail-link">
                                	<a href="#">View detail...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--------------------LIST OF STUDENTS--------------------->
                	<div class="content-left-title">
                    	LIST OF STUDENTS AWARDED
                    </div>
                    <div class="content-left-content">
                    	<div class="student-item">
                        	<img src="images/students/student-1.jpg" />
                        </div>
                    	<div class="student-item">
                        	<img src="images/students/student-2.jpg" />
                        </div>
                    	<div class="student-item">
                        	<img src="images/students/student-3.jpg" />
                        </div>
                    	<div class="student-item">
                        	<img src="images/students/student-4.jpg" />
                        </div>
                    	<div class="student-item">
                        	<img src="images/students/student-5.jpg" />
                        </div>
                    	<div class="student-item">
                        	<img src="images/students/student-6.jpg" />
                        </div>
                    </div>
                    <div class="content-left-title">
                    	<div class="paging">
                        	<a href="#" class="notactive">1</a>
                            <span class="active">2</span>
                            <a href="#" class="notactive">3</a>
                            <a href="#" class="notactive">4</a>
                            <a href="#" class="notactive">5</a>
                        </div>
                    </div>
                </div><!--#END content-left-->
            </div><!--#END content-->
        </div><!--#END wrap-item-->
    </div><!--#END main-->
    <div class="footer">
    	<div class="wrap-item">
        	<div class="footer-item">
            	<div class="footer-item-title">
                	FREE GOODIES
                </div>
                <div class="free-goodies">
                	<div class="free-goodies-icon">
                    	<img src="images/free-goodies-icon-1.jpg" />
                    </div>
                    <div class="free-goodies-content">
                    	If you use Outlook, iPad, iPhone or any other iCalendar compatible application, you can <a href="#">Subscribe</a> or <a href="#">Download</a> for free our up-to-date calendar with the latest competitions deadlines.
                    </div>
                </div>
                <div class="free-goodies">
                	<div class="free-goodies-icon">
                    	<img src="images/free-goodies-icon-2.jpg" />
                    </div>
                    <div class="free-goodies-content">
                    	If you use a Mac, you can <a href="#">Download</a> our free Dashboard Widget to stay always up-to-date with the latest contests directly from your desktop.
                    </div>
                </div>
                <div class="free-goodies">
                	<div class="free-goodies-icon">
                    	<img src="images/free-goodies-icon-3.jpg" />
                    </div>
                    <div class="free-goodies-content">
                    	Worldwide map where all our visitors came from, 188 countries and counting!
                    </div>
                </div>
            </div><!--#END FOOTER ITEM-->
            <div class="footer-item">
            	<div class="footer-item-title">
                	Facebook
                </div>
                <div class="facebook">
                    <fb:fan profile_id="123384497805228" stream="0" connections="10" logobar="1" width="300" height="300"></fb:fan>
                </div>
            </div><!--#END FOOTER ITEM-->
            <div class="footer-item">
            	<div class="footer-item-title">
                	FLICKR GROUP
                </div>
                <div class="flickr-group">
                	<img src="images/flickr-group.jpg" />
                </div>
            </div><!--#END FOOTER ITEM-->
        </div>
    </div><!--#END footer-->
    <div class="copy-right">
    	<div class="wrap-item">
        	<div class="menu-footer">
            	<ul>
                	<li><a href="#">Home</a></li>
                    <li><a href="#">Competitions</a></li>
                    <li><a href="#">New Articles</a></li>
                    <li><a href="#">Specials</a></li>
                    <li><a href="#">Articles All</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">FAQs</a></li>
               	</ul>
            </div>
            <div class="copy-right-content">
            	&copy; Copyright by <span>Tình Phong</span>
            </div>
        </div>
    </div>
</body>
</html>
