/* CSS Document */
*{padding:0;margin:0}
body{margin:auto;width:100%;font-family:Arial, Helvetica, sans-serif;font-size:10px}
img{border:none}
.wrapper{margin:auto;width:96%;}

.main{
	min-width:1000px;
	float:left;width:100%;border:1px solid #dfdfdf;margin-top:2%;
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	-o-border-radius:7px;
	-ms-border-radius:7px;
	box-shadow:0px 0px 10px #999;
}

.header{float:left;width:96%;height:40px;padding:10px 2% 0 2%;border-bottom:5px solid #FFCC00;font-weight:bold;color:#0681C8}
.title{float:left;width:40%;font-size:200%}
.navigation{float:right;margin-top:5px;}
.navigation a{color:#0681C8;text-decoration:none;margin:0 5px}
.navigation a:hover{color:#090}
.navigation span{margin:0 5px}

.content{float:left;width:100%;}
.navigation_content{float:left;width:100%;margin:10px 0 5px 0;border-bottom:1px solid #dfdfdf;}
.navigation_content a{border: 1px solid #dfdfdf;border-bottom: none;}
a .item_navigation_content{border:1px solid #dfdfdf;border-bottom: none;}
.item_navigation_content{
	padding:6px 5px 7px 5px;
	float:left;margin:0 1px;background:#f8f8f8;border:1px solid #dfdfdf;
	border-bottom:none;
	border-radius:3px 3px 0px 0px;
	-moz-border-radius:3px 3px 0px 0px;
	-webkit-border-radius:3px 3px 0px 0px;
	-o-border-radius:3px 3px 0px 0px;
	-ms-border-radius:3px 3px 0px 0px;
}
.logo_item_navigation{float:left;margin-right:5px}
.text_item_navigation{
	float:left;font-size:110%;color:#0681C8;font-weight:bold;text-decoration:none;display:block;margin-left:5px
}
.item_navigation_content:hover{background:#fff;color:#666;cursor:pointer}
.item_navigation_son{
	float:left;width:200px;background:#f8f8f8;display:none;position:absolute;border:1px solid #ddd;border-top:none;font-size:110%;border-bottom:none
}
.item_son_navigation_son{float:left;border-bottom:1px solid #ddd;padding:5px 0;line-height:16px}
.item_son_navigation_son a{text-decoration:none;color:#000;display: block;width: 100%;float: left;border: none;}
.item_son_name{width: 190px;float: left;font-weight: bold;padding: 2px 5px 2px 5px;}
.item_son_des{float: left;width: 190px;padding: 0px 5px 2px 5px;}
.item_son_navigation_son a:hover{color:#fff}
.item_son_navigation_son:hover{background:#0681C8;color:#fff;cursor:pointer}
.item_son_navigation_son:hover a{color:#fff;}

/*-----------------------------------------------------MAIN CONTENT---------------------------------------------------------------*/
.main_content{float:left;width:100%;margin-bottom:15px;}

.footer{float:left;width:100%;height:30px;margin:20px auto 10px auto;text-align:center;font-weight:bold;color:#0681C8;font-size:110%}
