<div class="lang-form-link">
    @if (ViewBag.gotoAdmin != null && ViewBag.gotoAdmin)
    {
        <a href="@Url.Content("~/administrator/members/login")">@ViewBag.page page</a><span>|</span>
    }
    <a href="@Url.Content("~/member/logout")">Logout</a>
</div>
