@using  eProjectsSemIII.Models

<!--------------------LIST OF STUDENTS--------------------->
                	<div class="content-left-title">
                    	LIST OF STUDENTS AWARDED
                    </div>

                    <div class="content-left-content">
                    <div class="content-left-content-item">
                     @{
                         foreach (Designs item in ViewBag.designs)
                     {
                    	<div class="student-item">
                        	<img alt="@item.Member.Name" src="@Url.Content("~/Content/Images/students/"+@item.Member.Images)" />
                        </div>
                     }
                     }
                    	</div>
                    </div>