<div class="path_menu">
	<div class="path_menu_item">
    	<a href="#">Trang chủ</a>
    </div>
	<div class="path_menu_item">
    	<a href="#">Nội dung</a>
    </div>
	<div class="path_menu_item">
    	<a href="#">Thêm mới nội dung</a>
    </div>
</div>
<div class="path_menu context_menu">
	<a href="#">Danh sách sản phẩm</a>
    <span>|</span>
	<a href="#">Danh mục sản phẩm</a>
    
    <span>|</span>
	<a href="#">Đánh giá, nhận xét sản phẩm</a>
</div>

<div class="path_menu title_and_action">
	<div class="content_title">
    	Thêm mới sản phẩm
    </div>
    <div class="content_action">
    	<div class="item_content_action">
        	<div class="img_item_content_action" id="help_action">
            
            </div>
        	<div class="text_item_content_action">
            	Help
            </div>
        </div>
    	<div class="item_content_action">
        	<div class="img_item_content_action" id="add_action">
            
            </div>
        	<div class="text_item_content_action">
            	Save
            </div>
        </div>
    	<div class="item_content_action">
        	<div class="img_item_content_action" id="update_action">
            
            </div>
        	<div class="text_item_content_action">
            	Update
            </div>
        </div>
    	<div class="item_content_action">
        	<div class="img_item_content_action" id="delete_action">
            
            </div>
        	<div class="text_item_content_action">
            	Delete
            </div>
        </div>
    	<div class="item_content_action">
        	<div class="img_item_content_action" id="go_back_action">
            
            </div>
        	<div class="text_item_content_action">
            	Go back
            </div>
        </div>
    	<div class="item_content_action">
        	<div class="img_item_content_action" id="edit_action">
            
            </div>
        	<div class="text_item_content_action">
            	Edit
            </div>
        </div>
    </div><!--#END content_action-->
</div><!--#END path_menu title_and_action-->
<!--===================================CHO DANH CHO VIEC SHOW FORM=================================================-->
<div class="path_menu">
	<div class="form_panel">
    	<div class="tab_form_panel">
        	<div class="item_tab_form_panel" id="item_tab_form_panel1">
            	Chi tiết sản phẩm
            </div>
        	<div class="item_tab_form_panel" id="item_tab_form_panel2">
            	Thông tin khác
            </div>
        	<div class="item_tab_form_panel item_tab_form_panel_show" id="item_tab_form_panel3">
            	Sản phẩm liên quan
            </div>
        	<div class="item_tab_form_panel" id="item_tab_form_panel4">
            	Hình sản phẩm
            </div>
        	<div class="item_tab_form_panel" id="item_tab_form_panel5">
            	Bài viết đánh giá
            </div>
        </div>
        <div class="content_form_panel">
        	<div class="item_content_form_panel" id="item_content_form_panel1">
            	<div class="item_item_content_form">
                	<div class="title_item_item_form">
                    	<span>*</span> Tên sản phẩm
                    </div>
                	<div class="input_item_item_form">
                    	<input type="text" id="d" class="txt_input_item_item" />
                    </div>
                </div>
            	<div class="item_item_content_form">
                	<div class="title_item_item_form">
                    	<span>*</span> Danh mục sản phẩm
                    </div>
                	<div class="input_item_item_form">
                    	<select>
                            <option selected="selected" style="color:#FC0">Chose a category item...</option>
                        	<optgroup label="May anh">
                            	<option>Sony</option>
                            	<option>Campus</option>
                            	<option>Halloe</option>
                            </optgroup>
                        	<optgroup label="May tinh">
                            	<option>Vaio</option>
                            	<option>Samsung</option>
                            	<option>Dell</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
            	<div class="item_item_content_form">
                	<div class="title_item_item_form">
                    	<span>*</span> Giá sản phẩm
                    </div>
                	<div class="input_item_item_form">
                    	<input type="text" id="dd" class="txt_input_item_item" />
                    </div>
                </div>
            	<div class="item_item_content_form">
                	<div class="title_item_item_form">
                    	<span>*</span> Giá bao gồm VAT
                    </div>
                	<div class="input_item_item_form">
                    	<input type="checkbox" class="check_item_item" />
                    </div>
                </div>
            	<div class="item_item_content_form">
                	<div class="title_item_item_form">
                    	<span>*</span> Hiển thị
                    </div>
                	<div class="input_item_item_form">
                    	<input type="checkbox" class="check_item_item" />
                    </div>
                </div>
            	<div class="item_item_content_form">
                	<div class="title_item_item_form">
                    	Mô tả tóm tắt
                    </div>
                	<div class="input_item_item_form">
                    	<textarea cols="" rows="" name="aa" class="txt_textarea_product"></textarea>
                    </div>
                </div>
            	<div class="item_item_content_form">
                	<div class="title_item_item_form">
                    	Thuộc tính sản phẩm
                    </div>
                	<div class="input_item_item_form">
                    	<textarea name="summary" class="ckeditor" id="editor1"></textarea>
                    </div>
                </div>
            </div>
            <!--===================================#END CHI TIET SAN PHAM======================================-->
        	<div class="item_content_form_panel" id="item_content_form_panel2">
            	<div class="item_item_content_form">
                	<div class="title_item_item_form">
                    	<span>*</span> Cho phép đặt hàng
                    </div>
                	<div class="input_item_item_form">
                    	<select>
                            <option>Cho phép</option>
                            <option>Không cho phép</option>
                        </select>
                    </div>
                </div><!--#-->
                <div class="item_item_content_form">
                	<div class="title_item_item_form">
                    	Thời hạn bảo hành
                    </div>
                	<div class="input_item_item_form">
                    	<textarea name="" class="txt_textarea_product"></textarea>
                    </div>
                </div><!--#-->
                <div class="item_item_content_form">
                	<div class="title_item_item_form">
                    	Tình trạng
                    </div>
                	<div class="input_item_item_form">
                    	<select>
                            <option>Hàng mới nguyên kiện</option>
                            <option>Hàng đã qua sử dụng</option>
                            <option>Hàng tái chế</option>
                        </select>
                    </div>
                </div><!--#-->
                <div class="item_item_content_form">
                	<div class="title_item_item_form">
                    	Cho vào module
                    </div>
                	<div class="input_item_item_form">
                    	<select>
                            <option>Sản phẩm nổi bật</option>
                            <option>Sản phẩm mới</option>
                            <option>Sản phẩm khuyến mãi</option>
                        </select>
                    </div>
                </div><!--#-->
                <div class="item_item_content_form">
                	<div class="title_item_item_form">
                    	Nhà sản xuất
                    </div>
                	<div class="input_item_item_form">
                    	<select>
                            <option>Hãy chọn nhà sản xuất</option>
                            <option>Sony</option>
                            <option>Vaio</option>
                        </select>
                    </div>
                </div><!--#-->
            </div>
            <!--===================================#END THÔNG TIN KHÁC======================================-->
        	<div class="item_content_form_panel" id="item_content_form_panel3">
            	<div class="left_item_content_form_panel">
                	<div class="display_categories_item">
                    
                    </div>
                	<div class="display_products_item">
                    
                    </div>
                </div>
            	<div class="right_item_content_form_panel">
                
                </div>
            </div>
            <!--===================================#END SẢN PHẨM LIÊN QUAN======================================-->
        	<div class="item_content_form_panel" id="item_content_form_panel4">
            	Hình sản phẩm
            </div>
            <!--===================================#END HÌNH SẢN PHẨM======================================-->
        	<div class="item_content_form_panel" id="item_content_form_panel5">
            	<div class="wrapper_ckeditor_article_product">
            		<textarea name="article_product" class="ckeditor"></textarea>
                </div>
            </div>
            <!--===================================#END BÀI VIẾT ĐÁNH GIÁ======================================-->
            
        </div>
    </div>
</div>
<!--================================#END CHO DANH CHO VIEC SHOW FORM===============================================-->
<div class="path_menu title_and_action">
	<div class="content_title">
    	Thêm mới sản phẩm
    </div>
    <div class="content_action">
    	<div class="item_content_action">
        	<div class="img_item_content_action" id="help_action1">
            
            </div>
        	<div class="text_item_content_action">
            	Help
            </div>
        </div>
    	<div class="item_content_action">
        	<div class="img_item_content_action" id="add_action1">
            
            </div>
        	<div class="text_item_content_action">
            	Save
            </div>
        </div>
    	<div class="item_content_action">
        	<div class="img_item_content_action" id="update_action1">
            
            </div>
        	<div class="text_item_content_action">
            	Update
            </div>
        </div>
    	<div class="item_content_action">
        	<div class="img_item_content_action" id="delete_action1">
            
            </div>
        	<div class="text_item_content_action">
            	Delete
            </div>
        </div>
    	<div class="item_content_action">
        	<div class="img_item_content_action" id="go_back_action1">
            
            </div>
        	<div class="text_item_content_action">
            	Go back
            </div>
        </div>
    	<div class="item_content_action">
        	<div class="img_item_content_action" id="edit_action1">
            
            </div>
        	<div class="text_item_content_action">
            	Edit
            </div>
        </div>
    </div><!--#END content_action-->
</div><!--#END path_menu title_and_action-->
