<div class="path_menu">
	<div class="path_menu_item">
    	<a href="@Url.Content("~/")">Home Page</a>
    </div>
	<div class="path_menu_item">
    	<a href="@Url.Content("~/administrator/competitions")">Conpetitions</a>
    </div>
	<div class="path_menu_item">
    	<a href="">Add new competition</a>
    </div>
</div>
<div class="path_menu context_menu">
	<a href="#">Danh sách sản phẩm</a>
    <span>|</span>
	<a href="#">Danh mục sản phẩm</a>
    
    <span>|</span>
	<a href="#">Đánh giá, nhận xét sản phẩm</a>
</div>

<div class="path_menu title_and_action">
	<div class="content_title">
    	Add new competition
    </div>
    <div class="content_action">
    	<div class="item_content_action">
        	<div class="img_item_content_action" id="help_action">
            
            </div>
        	<div class="text_item_content_action">
            	Help
            </div>
        </div>
    	<div class="item_content_action">
        	<div class="img_item_content_action" id="go_back_action">
            
            </div>
        	<div class="text_item_content_action">
            	Go back
            </div>
        </div>
    	<div class="item_content_action">
        	<div class="img_item_content_action" id="add_action">
            
            </div>
        	<div class="text_item_content_action">
            	Save
            </div>
        </div>
    </div><!--#END content_action-->
</div><!--#END path_menu title_and_action-->
<!--===================================CHO DANH CHO VIEC SHOW FORM=================================================-->
<div class="path_menu">
	<div class="form_panel">
    	<div class="tab_form_panel">
        	<div class="item_tab_form_panel item_tab_form_panel_show" id="item_tab_form_panel1">
            	Competition Detail
            </div>
        </div>
        <div class="content_form_panel">
        	<div class="item_content_form_panel" id="item_content_form_panel1">
            	<div class="item_item_content_form">
                	<div class="title_item_item_form">
                    	<span>*</span> Competition Name
                    </div>
                	<div class="input_item_item_form">
                    	<input type="text" id="d" class="txt_input_item_item" />
                    </div>
                </div>
            	<div class="item_item_content_form">
                	<div class="title_item_item_form">
                    	<span>*</span> Competition Alias
                    </div>
                	<div class="input_item_item_form">
                    	<input type="text" id="d" class="txt_input_item_item" />
                    </div>
                </div>
            	<div class="item_item_content_form">
                	<div class="title_item_item_form">
                    	<span>*</span> Competition Image
                    </div>
                	<div class="input_item_item_form">
                    	<input type="file" id="d" class="" />
                    </div>
                </div>
            	<div class="item_item_content_form">
                	<div class="title_item_item_form">
                    	<span>*</span> Danh mục sản phẩm
                    </div>
                	<div class="input_item_item_form">
                    	<select>
                            <option selected="selected" style="color:#FC0">Chose a category item...</option>
                        	<optgroup label="May anh">
                            	<option>Sony</option>
                            	<option>Campus</option>
                            	<option>Halloe</option>
                            </optgroup>
                        	<optgroup label="May tinh">
                            	<option>Vaio</option>
                            	<option>Samsung</option>
                            	<option>Dell</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
            	<div class="item_item_content_form">
                	<div class="title_item_item_form">
                    	<span>*</span> Giá sản phẩm
                    </div>
                	<div class="input_item_item_form">
                    	<input type="text" id="dd" class="txt_input_item_item" />
                    </div>
                </div>
            	<div class="item_item_content_form">
                	<div class="title_item_item_form">
                    	<span>*</span> Giá bao gồm VAT
                    </div>
                	<div class="input_item_item_form">
                    	<input type="checkbox" class="check_item_item" />
                    </div>
                </div>
            	<div class="item_item_content_form">
                	<div class="title_item_item_form">
                    	<span>*</span> Hiển thị
                    </div>
                	<div class="input_item_item_form">
                    	<input type="checkbox" class="check_item_item" />
                    </div>
                </div>
            	<div class="item_item_content_form">
                	<div class="title_item_item_form">
                    	Mô tả tóm tắt
                    </div>
                	<div class="input_item_item_form">
                    	<textarea cols="" rows="" name="aa" class="txt_textarea_product"></textarea>
                    </div>
                </div>
            	<div class="item_item_content_form">
                	<div class="title_item_item_form">
                    	Thuộc tính sản phẩm
                    </div>
                	<div class="input_item_item_form">
                    	<textarea name="summary" class="ckeditor" id="editor1"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================================#END CHO DANH CHO VIEC SHOW FORM===============================================-->
<div class="path_menu title_and_action">
	<div class="content_title">
    	Thêm mới sản phẩm
    </div>
    <div class="content_action">
    	<div class="item_content_action">
        	<div class="img_item_content_action" id="help_action1">
            
            </div>
        	<div class="text_item_content_action">
            	Help
            </div>
        </div>
    	<div class="item_content_action">
        	<div class="img_item_content_action" id="go_back_action1">
            
            </div>
        	<div class="text_item_content_action">
            	Go back
            </div>
        </div>
    	<div class="item_content_action">
        	<div class="img_item_content_action" id="add_action1">
            
            </div>
        	<div class="text_item_content_action">
            	Save
            </div>
        </div>
    </div><!--#END content_action-->
</div><!--#END path_menu title_and_action-->
