/* CSS Document */

.left_main{float:left;width:70%;}
.item_left_main{
	float:left;width:96%;margin:15px 1% 0px 1%;border:5px solid #f0f0f0;padding-bottom:20px;
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	-o-border-radius:7px;
	-ms-border-radius:7px;
}
.info_data{float:left;width:100%;margin:10px 0}
.item_info_data{
	float:left;padding:0px 1%;font-size:140%;font-variant:small-caps;border-right:1px solid #dfdfdf;border-right-style:dotted
}
.item_info_data span{
	float:left;background:#006497;margin-right:10px;color:#fff;padding:0 5px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	-ms-border-radius:4px;
}
.item_info_data a{float:left;color:#0681C8;text-decoration:none}
.item_info_data a:hover{color:#090}
/*-------------------------------------------STATISTICS--------------------------------------------------------------*/
.statistics{float:left;width:100%;background:#9FF}
.item_statistics{float:left;padding:5px 10px;}
.item_statistics a{font-size:120%;color:#006497;text-decoration:none}
.item_statistics a:hover{color:#090}

.content_statistics{float:left;width:98%;padding:0px 0 10px 2%}
.title_content_statistics{float:left;width:100%;margin-bottom:5px;margin-top:20px}
.img_title_content_statistics{float:left;margin-right:5px}
.text_title_content_statistics{float:left;font-size:110%;font-weight:bold;margin-top:6px;margin-right:5px}
.info_title_content_statistics{float:left;font-size:110%;margin-top:6px;margin-right:5px}
.link_title_content_statistics{float:left;font-size:110%;margin-top:6px;}
.link_title_content_statistics a{font-style:italic;color:#0681C8}

.content_content_statistics{float:left;width:95%;margin-left:5%}
.content_content_statistics ul li{float:left;width:100%;height:20px;line-height:20px}
.content_content_statistics ul li a{color:#0681C8;font-size:110%;text-decoration:none;font-weight:bold}


.item_left_main_other{
	float:left;width:92%;margin:15px 1% 0px 1%;border:5px solid #f0f0f0;padding:10px 2%;background:#f4f4f4;
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	-o-border-radius:7px;
	-ms-border-radius:7px;
}
.item_quick_access{
	float:left;width:110px;height:100px;background:#fff;margin:10px;border:1px solid #dfdfdf;text-align:center;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
}
.item_quick_access a{text-decoration:none;display:block;padding:10px}
.item_quick_access a img{margin:0 24px 10px 23px}
.item_quick_access a span{color:#0681C8;font-size:110%;font-weight:bold}
/*----------------------------------------------RIGHT_MAIN-------------------------------------------------------*/
.right_main{float:left;width:30%}
.item_right_main{
	float:left;width:90%;margin:15px 1% 0px 1%;border:5px solid #f0f0f0;padding:10px 2%;
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	-o-border-radius:7px;
	-ms-border-radius:7px;
}
.title_item_right_main{float:left;width:100%;font-size:170%;font-weight:bold;color:#0681C8;margin-bottom:10px}
.content_item_right_main{float:left;width:100%;margin-bottom:5px}
.item_content_item_right{
	float:left;width:90%;background:url(images/video-icon.png) no-repeat left;padding:7px 0 7px 10%;
	border-bottom:1px solid #ddd;border-bottom-style:dotted
}
.item_content_item_right a{float:left;color:#0681C8;font-size:110%;text-decoration:none}